{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


{% block content %}


<div class="container">

  {% for blog in blogs %}

    <h3>{{blog.blog_title}}</h3>
    <p>{{blog.blog_content}}</p>

    <a href="{{url_for('main.post_comment')}}" class="btn btn-sm btn-primary">Leave a Comment</a>

  {% endfor %}
  <h3>Comments</h3>

  {% for comment in comments%}
  <div>
    {{comment.comment_message}}
    <br>
    <small><b>Posted on: </b><em>{{comment.date_posted}}</em></small>
  </div>

  <a href="/comment/delete/{{comment.id}}" class="btn btn-sm btn-danger">Delete Comment</a>
  <hr>
  {% endfor %}

</div>

{%endblock%}